<div class="row">
    <div class="span12">
        <form method="POST" action="/">
    
            <div class="row">
                <div class="span8 offset2">
                    <h2>To: <%= post.nameto %></h2>
                    <br>
                    <h2 class="post">
                        <%= post.recommend %>
                    </h2>
                    <br>
                    <img class="span8" src="/img/<%= post.image %>" alt="valentine image">
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset2">
                    
                    
                    <h2>From: <%= post.namefrom %></h2>
                    
                    <br><br>
                    <h3><a href="/">Recommend another book</a></h3>
                    <h4><a href="/book/<%= post.image %>">See how many people has recommend this book</a></h4>
                </div>
                
            </div>

        </form>
    </div>
</div>